@font-face {
    font-family: 'BravuraText';
    src: url(BravuraText.woff)
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p {
    font-family: 'BravuraText';
    font-size: 24px;
}

#staff{
    position: relative;
}

#notes{
    position: absolute;
    left: 0;
    top: 0;
    font-variant-ligatures: discretionary-ligatures
}

#meter{
    position: absolute;
    font-variant-ligatures: normal
}


/*
#staff {
}
*/

/*
.section {
    width: 100%;
    padding: 2em;
    display: block;
}

.image {
    width: 50%;
    align-items: center;
    position: relative;
    align-self: center;
}

.imagesection {
    align-content: center;
}
*/


/*
.child.r{
    left: 2px;
    position: absolute;
}
*/