@font-face {
    font-family: 'BravuraText';
    src: url('BravuraText.woff2');
    font-weight: normal;
    font-style: normal;
}

.row {
    display: flex;
}
.column {
    flex: 50%;
    padding: 10px;
    font-family: 'BravuraText';
    font-size: 24px;
}

/*
html, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p {
	margin: 1px;
	padding: 10px;
	border: 0;
	font-size: larger;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}*/
/*
#tools{
    display: border-box;
    background: grey;
    width: 33%;
    font-size: larger;
	font-family: Arial, Helvetica, sans-serif;
}
*/
/*
.fakeButtons {
    float: left;
    padding: 0 5px 0 0;
    margin: 24px 2px 0px 2px;
    width: 100%;
}*/

.button {
    float: left;
    margin: 0 5px 0 0;
    width: 20px;
    height: 48px;
    position: relative;
  }

.button label, .button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.button input[type="radio"] {
    opacity: 0;
    z-index: 100;
}
  
.button input[type="radio"]:checked + label {
    background: #20b8be;
    border-radius: 5px;
}
  
.button label {
    background: white;
    cursor: pointer;
    z-index: 90;
    position: retative;
    border-radius: 5px;
    text-align: center;
    padding: 0px 2px;
    border-width: 1px;
}

.noteChr{
    font-family: 'BravuraText';
    font-size: 24px;
    bottom: -5px;
    width: 20px;
    height: 48px;
    top: 6px;
}


#staff{
    font-family: 'BravuraText';
    font-size: 24px;
    position: relative;
    /*left: 0;
    top: 0;*/
}

#sheet{
    display: border-box;
    position: absolute;
    background: rgb(236, 236, 236);
    width: 62%;
    left: 33%;

}



#notes{
    font-family: 'BravuraText';
    position: absolute;
    left: 0;
    top: 0;
    font-variant-ligatures: common-ligatures, discretionary-ligatures, historical-ligatures, contextual;
}

/*
#meter{
    font-family: 'BravuraText';
    position: absolute;
    font-variant-ligatures: normal;
}
*/

/*
#staff {
}
*/

/*
.section {
    width: 100%;
    padding: 2em;
    display: block;
}

.image {
    width: 50%;
    align-items: center;
    position: relative;
    align-self: center;
}

.imagesection {
    align-content: center;
}
*/


/*
.child.r{
    left: 2px;
    position: absolute;
}
*/


