@font-face {
    font-family: 'BravuraText';
    src: url('BravuraText.woff2');
    font-weight: normal;
    font-style: normal;
}

.row {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
}

.column:nth-of-type(even) {
    flex: 2;
    font-family: 'BravuraText';
    font-size: 24px;
}

/*
html, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p {
	margin: 1px;
	padding: 10px;
	border: 0;
	font-size: larger;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}*/


.fakeButtons {
    border: 1px solid black;
    display: inline-block;
    padding: 0.2px;
    width: 9%;
    min-width: 38px;
    min-height: 38px;
    border-radius: 5px;
}

.basicText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.noteChr {
    font-family: 'BravuraText';
    font-size: 24px;
    vertical-align: -5px;
}

textarea {
    width: 95%;
}

#system {
    border: 1px solid black;
    padding: 2px;
    width: 98%;
    height: 100px;
    display: flex;
    align-items: center;
}


#staff {
    font-family: 'BravuraText';
    font-size: 24px;
    padding: 0.2px;
    position: relative;
    /*left: 0;
    top: 0;*/
}




.clefToMeter {
    position: absolute;
    left: 0;
    top: 0;
}

.clef {
    font-family: 'BravuraText';
    font-size: 24px;
    left: 0;
    top: 0;
}

.meter {
    font-family: 'BravuraText';
    font-size: 24px;
}

.numerator{
    top: 30px;
}

.denominator{
    top: 5px;
}

#notes {
    font-family: 'BravuraText';
    position: absolute;
    left: 0;
    top: 0;
    font-variant-ligatures: common-ligatures, discretionary-ligatures, historical-ligatures, contextual;
}

/*
#meter{
    font-family: 'BravuraText';
    position: absolute;
    font-variant-ligatures: normal;
}
*/

/*
#staff {
}
*/

/*
.section {
    width: 100%;
    padding: 2em;
    display: block;
}

.image {
    width: 50%;
    align-items: center;
    position: relative;
    align-self: center;
}

.imagesection {
    align-content: center;
}
*/


/*
.child.r{
    left: 2px;
    position: absolute;
}
*/


